.tinyb
.tinybird-generated
.tinybird-entities-*.mjs
.terraform
.DS_Store
.claude
.opencode
.env
.env.local
*.local

node_modules
.DS_Store
dist
dist-ssr
count.txt
.nitro
.tanstack
.wrangler
.output
.vinxi
.turbo
todos.json
apps/api/.data/

.alchemy
.mcp.json
.dev.vars
apps/chat-agent/.dev.vars

# sst
.sst
/bin/
/apps/agents/logs
/logs
